target
*.un~
*.class
*/.DS_Store
.DS_Store
*.ipr
*.iws
*/*.iml
.idea/
*/.idea/
*.iml
*/*~
jifeng.gradle/.gradle/
*.swp
build
.gradle
gradle-app.setting
*.dump
modules/gradlew
modules/gradlew.bat
modules/gradle/